<div class="m-3">
  <div *ngIf="catStore">
    <h3>Productos {{categorias[catStore]}}
    </h3>
  </div>

  <div *ngIf="delay">
    <button class="btn btn-secondary btn-sm" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </button>
  </div>


  <div *ngIf="productos.length > 0" class="mt-5">
    <app-productos [productos]="productos" ></app-productos>
  </div>

  <div *ngIf="e" class="alert alert-danger" role="alert">
   No se obtuvo respuesta desde BD
  </div>
</div>

