<div class="row">
    <div class="col-sm-3 mb-4" *ngFor="let producto of productos">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/{{producto.imagen}}.jpg" style="height: 190px !important;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
          <p class="text-center fw-bolder">{{producto.precio | currency: 'USD'}}</p>
          <div class="d-grid gap-2">
            <a href="#" class="btn btn btn-outline-primary btn-sm">Agregar</a>
          </div>
        </div>
      </div>
    </div>
</div>

